/* reset: http://www.css-reset.com/*/

* {
vertical-align: baseline;
font-weight: inherit;
font-family: inherit;
font-style: inherit;
font-size: 100%;
border: 0 none;
outline: 0;
padding: 0;
margin: 0;
}
p {
	padding-bottom: 20px;
	line-height: 25px;
	font-size: 15px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 200;
}

li {
	font-size: 15px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 200;
}

h1 {
	font-size: 25px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
}

h2 {
	font-size: 18px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	padding-top: 30px;
}

.wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.bgimage {
	background-size: cover;
	position: center;
	background-image: url(images/homeHVAC.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	margin: 0 auto;
}

.bgimage-services {
	background-size: cover;
	background-image: url(images/services-HVAC.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	margin: 0 auto;
}

.bgimage-history {
	background-size: cover;
	background-image: url(images/history-HVAC.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	margin: 0 auto;
}

.bgimage-safety {
	background-size: cover;
	background-image: url(images/safety-education.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	margin: 0 auto;
}

.bgimage-contact {
	background-size: cover;
	background-image: url(images/vancouver.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	margin: 0 auto;
}

.greybackground {
	background-image: url(images/color.png);
	background-repeat: repeat-x;
	height: 134px;
	
}



.logo {
	float: left;
	padding-left: 20px;
	padding-top: 5px;
}

.grey {
	margin-top: 500px;
	padding-bottom: 100px;
	background-image: url(images/pattern.png);
	background-repeat: repeat;
	background: -moz-linear-gradient(top,  rgba(216,216,216,0.77) 0%, rgba(216,216,216,0.77) 1%, rgba(216,216,216,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,216,216,0.77)), color-stop(1%,rgba(216,216,216,0.77)), color-stop(100%,rgba(216,216,216,1)));
background: -webkit-linear-gradient(top,  rgba(216,216,216,0.77) 0%,rgba(216,216,216,0.77) 1%,rgba(216,216,216,1) 100%);
background: -o-linear-gradient(top,  rgba(216,216,216,0.77) 0%,rgba(216,216,216,0.77) 1%,rgba(216,216,216,1) 100%);
background: -ms-linear-gradient(top,  rgba(216,216,216,0.77) 0%,rgba(216,216,216,0.77) 1%,rgba(216,216,216,1) 100%);
background: linear-gradient(to bottom,  rgba(216,216,216,0.77) 0%,rgba(216,216,216,0.77) 1%,rgba(216,216,216,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d8d8d8', endColorstr='#d8d8d8',GradientType=0 ); 
}

.main-content {
	width: 70%;
	max-width:1100px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 50px;
}

.services {
	max-width: 1250px;
	margin-right: auto;
	margin-left: auto;
}

.duct-pics {
	max-width:1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	/* padding-bottom: 30px; */
}

	.duct-pics li {
		display: inline;
	}

.history-pics {
	max-width:1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

	.history-pics li {
		display: inline;
	}


.picture {
	float: left;
	padding-top: 10px;
	padding-bottom: 30px;
}

.about {
	width: 60%;
	min-width: 250px;
	float: left;
	margin-left: 10%;
	margin-bottom: 20px;
}

	.about li {
		line-height: 20px;
	}

.contact {
	width: 60%;
	min-width: 250px;
	float: left;
	margin-left: 10%;
}

	.contact li {
		line-height: 20px;
		list-style-type: none;
	}

.clear {
	clear: both;
}

.associations {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.clients {
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

	.clients li {
		display: inline;
		margin-right: 40px;
	}

.black {
	background-color: #000;
}

.footer {
	width: 70%;
	max-width: 1250px;
	margin-right: auto;
	margin-left: auto;
}

.footer p {
	color: #575757;
	font-size: 15px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 500;
}

.footer h2 {
	color: #fff;
	margin-bottom: 5px;
}

.footer li {
	color: #575757;
	font-size: 15px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 500;
	list-style-type: none;
	line-height: 23px;
}

.footer a {
	text-decoration: none;
	color: #ABABAB;
	font-weight: 400;
}

.column-one, .column-two, .column-three {
	float: left;
	margin-bottom: 25px;
}
.column-one {
	width: 35%;
	min-width: 250px;
	padding-left: 30px;
}

.column-two {
	width: 35%;
	min-width: 250px;
	padding-left: 30px;
}

.column-three {
	width:15%;
	min-width: 150px;
	padding-left: 30px;
}

#nav {
	float: right;
	padding-top: 20px;
	margin-right: 20px;
}

	#nav ul{
		text-align: right;
	}

	#nav li {
		font-size: 20px;
		list-style-type: none;
		display: inline; 
		padding-left: 25px;
		padding-right: 5px;
		margin-bottom: 15px;
	}

	#nav li a {
		text-decoration: none;
		color: #3f3f3f;
	}

	#nav li a:hover {
		text-decoration: none;
		color: #737777;
	}